* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --primary: #0078bd;
  /* --primary: #5f7fff; */
  --dark: #06293d;
  /* --dark: #263843; */
  --darker: #070c0e;
  --black: #000;
  --white: rgb(255, 255, 255);
  --grey100: #f8f8f8;
  --grey200: #003a5518;
  --secondary: #d13f65;
  --transition: all 300ms ease;
  --shadow-light: 0 5px 10px rgba(0, 0, 0, 0.26);
  --width-lg: 70%;
  --width-sm: 90%;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: border-box;
  padding-top: 60px;
  background-color: var(--grey100);
}

header {
  width: 100%;
  height: 60px;
  background-color: var(--dark);
  box-shadow: var(--shadow-light);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.container {
  width: var(--width-lg);
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 110px;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

li {
  display: flex;
  align-items: center;
  height: 100%;
}

.link {
  display: flex;
  align-items: center;
  color: var(--white);
  height: 100%;
  padding: 0 1rem;
  border: 1px solid var(--dark);
  transition: var(--transition);
  font-size: 14px;
}

.link.active {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.link:hover {
  border: 1px solid var(--primary);
}

.hasSubMenu {
  display: flex;
  flex-direction: column;
  position: relative;
}

.sub-menu {
  position: absolute;
  bottom: -9rem;
  background-color: var(--dark);
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-light);
  display: none;
}

.sub-menu-link {
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
}

.sub-menu-link .fa-solid {
  margin-left: 10px;
}

.hasSubMenu:focus-within .sub-menu {
  display: block;
}

.sub-menu li {
  width: 100%;
  text-align: center;
}

.sub-link {
  color: var(--white);
  width: 100%;
  height: 3rem;
  transition: all 300ms ease;
  display: grid;
  place-items: center;
}

.sub-link:hover {
  background-color: var(--primary);
}

.hero {
  position: relative;
  width: 100%;
}

.hero__container {
  width: var(--width-lg);
  margin: 0 auto;
  padding-left: 3rem;
  display: flex;
  gap: 3rem;
  height: 420px;
  background-color: var(--grey100);
}

.hero__text {
  text-transform: capitalize;
  color: var(--dark);
  font-size: 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  line-height: 1.2;
}

.text__slider {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 200px;
  overflow: hidden;
}

.slide {
  position: relative;
  height: 100%;
  animation: fade-in 500ms ease-in;
  transition: all 800ms ease-in-out;
}

.slide h1 {
  height: 100%;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.slide1 {
  bottom: 0;
  animation: fade-in 500ms ease-in;
}
.slide2 {
  bottom: 100%;
  animation: fade-in 500ms ease-in;
}
.slide3 {
  bottom: 200%;
  animation: fade-in 500ms ease-in;
}

.hero__btn {
  border: none;
  background-color: var(--primary);
  color: var(--white);
  font-weight: 700;
  padding: 1em 2em;
  margin-top: 2rem;
  border-radius: 4px;
  width: 40%;
  cursor: pointer;
  transition: var(--transition);
}

.hero__btn:hover {
  background-color: var(--dark);
}

.hero__img__container {
  width: 100%;
  height: 100%;
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.hero-circle1 {
  width: 270px;
  height: 270px;
  background-color: var(--secondary);
  opacity: 0.1;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -100px;
  z-index: -1;
}
.hero-circle2 {
  width: 150px;
  height: 150px;
  background-color: var(--primary);
  opacity: 0.1;
  border-radius: 50%;
  position: absolute;
  bottom: 100px;
  right: 50px;
  z-index: -1;
}

/* =====SERVICES===== */
.services {
  width: 100%;
  background-color: var(--white);
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services .heading {
  text-align: center;
}
.services .heading h2 {
  color: var(--dark);
  font-size: 2rem;
}
.services .heading h5 {
  color: var(--primary);
  text-transform: capitalize;
  font-weight: 400;
}

.services .card__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: var(--width-lg);
  margin: 0 auto;
}

.service__card {
  background-color: var(--grey100);
  box-shadow: var(--shadow-light);
  width: 350px;
  padding: 2em;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
}

.service__card.special {
  background-color: var(--primary);
  box-shadow: var(--shadow-light);
  width: 350px;
  padding: 2em;
  border-radius: 4px;
  text-align: center;
  position: relative;
  top: 4rem;
  color: var(--white);
}

.service__card .fa-solid {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--dark);
}

.service__card.special .fa-solid {
  color: var(--white);
}

.service__card h3 {
  margin-bottom: 1rem;
  color: var(--primary);
}

.service__card.special h3 {
  color: var(--dark);
}

.service__btn {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
  padding: 1em;
  width: 350px;
  margin-top: 8rem;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: var(--transition);
}

.service__btn:hover {
  background-color: var(--primary);
  color: var(--white);
}

/* =====ABOUT====== */

.about {
  padding-bottom: 2000px;
}
